/* ************************************* */
/* NAVBAR  */
/* **************************************  */

.navbar-nav > a{
    margin-left:30px;
    margin-right:30px;
  }

#navbar-right > a{
    color:#B30FB7;
    font-size: 20px;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }


@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
/* ************************************* */
/* NAVBAR  */
/* **************************************  */


