
body{
    font-family: 'Comfortaa', cursive;
}

/* ************************************* */
/* NAVBAR  */
/* **************************************  */

.navbar-nav > a{
    margin-left:30px;
    margin-right:30px;
  }

#navbar-right > a{
    color:#B30FB7;
    font-size: 20px;
    font-weight: 800;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }


@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

/* ************************************* */
/* NAVBAR  */
/* **************************************  */


/* ************************************* */
/* WELCOME MESSAGE  */
/* **************************************  */
.welcome-message{
    background-color: #eee;
    margin-bottom: 0;
}

.welcome-message img{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;
    width: 100%;
}

.welcome-message h5{
    text-align: center;
    margin-top: -7%;
    color: #B30FB7;
    margin-bottom: 0;
}
/* ************************************* */
/* WELCOME MESSAGE */
/* **************************************  */


/* ************************************* */
/* BANNER */
/* **************************************  */

.banner {
    background-color: #eee;
    margin-top: 0;
}
#boot-override .banner{
    height: 31rem;
    margin-bottom: 4%;
}
/* ************************************* */
/* BANNER */
/* **************************************  */

/* ************************************* */
/* COMMONS PRESENTATION AND CALL TO ACTION  */
/* **************************************  */

.bio h2, .tech-tools h2,
.call-to-action h2{
    color: #B30FB7;
    font-size: 250%;
}

.bio p, .tech-tools p,
.call-to-action p{
    font-size: 130%;
 }

 .bio p:first-of-type,
 .call-to-action p:first-of-type{
    margin-bottom: 0.5rem;
}

.user-icon, .briefcase-icon,
.tasks-icon{
    margin-bottom: 2%;
}

 /* ************************************* */
/* COMMONS PRESENTATION AND CALL TO ACTION  */
/* **************************************  */

/* ************************************* */
/* Presentation */
/* **************************************  */

.bio{
    margin-bottom: 5%;
}

.tech-tools{
    background-color: #eee;
    padding-top: 3%;
}

.tech-tools .row{
    margin-top: 3%;
}

.presentation{
    margin-bottom: 3%;
}
/* ************************************* */
/* Presentation */
/* **************************************  */

/* ************************************* */
/* CALL TO ACTION */
/* **************************************  */

.call-to-action .call-to-action-text{
    color: #B30FB7;
    font-size: 120%;
    font-weight: 600;
}

.call-to-action .call-to-action-text:hover{
    text-decoration: None;
    color: #9DC040;
}

#boot-override .email-button{
    background-color: #B30FB7;
    color: white;
    width: 20rem;
    margin-top: 2%;
}

#boot-override .email-button:hover{
    background-color: #9DC040 ;
    color: white;
}

.call-to-action{
    margin-bottom: 3%;
}
/* ************************************* */
/* CALL TO ACTION */
/* **************************************  */
