/* ************************************* */
/* NAVBAR  */
/* **************************************  */

.navbar-nav > a{
    margin-left:30px;
    margin-right:30px;
  }

#navbar-right > a{
    color:#B30FB7;
    font-size: 20px;
}

  /* ************************************* */
/* NAVBAR  */
/* **************************************  */


